* {
  box-sizing: border-box;
}

:root {
  /* Font Color */
  --ft-clr-white: #fff;

  /* Font Weight */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 600;

  /* Colors */
  --bg-main: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 16%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --line: hsl(215, 32%, 27%);

  /* Border Radius */
  --border-radius: 3%;
}

body {
  background-color: var(--bg-main);
  color: var(--ft-clr-white);
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* overflow: hidden; */
  /* width: 100vw; */
}

a{ 
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  background-color: var(--bg-card);
  border-radius: var(--border-radius);
  max-width: 350px;
  padding: 30px;
  margin: auto;
  
}

/* Image Box */
.img__box {
  border-radius: var(--border-radius);
  margin: auto;
  width: 100%;
  /* height: 350px; */
  /* max-width: 350px; */
}

/* Image */
.img {
  background-color: hsl(216, 50%, 16%);
  border-radius: var(--border-radius);
  /* width: 100%; */
  /* height: 100%; */
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.title {
  margin: 20px 0;
}

.paragraph {
  line-height: 1.8;
  color: var(--soft-blue);
  font-weight: var(--fw-light);
  margin-bottom: 10px;
}

.text__box {
  width: 100%;
  margin: auto;
  max-width: 350px;
}

.status__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.status__item {
  display: flex;
  align-items: center;
}

.status__icon {
  margin-right: 5px;
  height: 20px;
}

.eth {
  color: var(--cyan);
}

.days {
  color: var(--soft-blue);
}

.line {
  border-color: var(--line);
  margin-bottom: 20px;
}

.profile__box {
  display: flex;
  align-items: center;
}

.profile__img {
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 20px;
  width: 40px;
}

.profile__text {
  color: var(--soft-blue);
}

.attribution {
  text-align: center;
}

.fm-link {
  color: var(--cyan)
}

.dev-name {
  color: var(--soft-blue);
}